# This is your Caddy configuration. This default config
# opens a port and serves a static site from the www folder.
# Edit this file according to your needs.

# Remember, Railway terminates TLS before it gets to Caddy.
:8080

@gen204 path /generate_204

respond @gen204 "" 204 {
	header Cache-Control "no-store"
	header X-NetworkManager-Status "online"
	header Access-Control-Allow-Origin "*"
}

root /www
file_server
